.feature {
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    img {
        display: block;
        max-height: 2.5rem;
    }

    h3 {
        font-size: .8rem;
        font-weight: 400;
        white-space: nowrap;
    }
}